<!DOCTYPE html>
<html lang="pt-br" >

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>DashBoard</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700'>
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
      
       
</head>

<body>

<script type="text/javascript">
  setTimeout(function(){
    location = ''
  },8000)
</script>

<center>
<div class="jumbotron jumbotron-fluid">  
  <p class="lead"> 
   
    <a class="btn btn-primary btn-lg" href="index.html" role="button">Home</a>
    <a class="btn btn-success btn-lg" href="http://192.168.100.3:8000/stream.html" role="button">Stream</a>
    <a class="btn btn-warning btn-lg" href="graph.html" role="button">Graph</a>
    <a  class="btn btn-danger btn-lg" href="system.html" role="button">System</a>
<p>
  <center> <div class="container">
        <h1 class="display-4">Monitor IoT</h1>
        <p class="lead">Status Sensores.</p>
    </div> </center>
    
</div>

<br><br>


<div class="container">
  
  <div class="row">

    <div class="col-sm-2">
      <h5 class="my-4">Ambiente: </h5>
    </div>

    <div class="col-sm-4">
      <p class="my-4"> <kbd>  {{ janela.Ambiente }} </kbd> </p>
    </div>
    
    <div class="col-sm-2">
      <p class="my-4"> IoT: </h5>
    </div>

    <div class="col-sm-4">
       <p class="my-4"> {{ janela.IoT }} </p>
    </div>
    <div class="col-sm-2">
       <p class="my-4"> ID: </h5>
    </div>

    <div class="col-sm-4">
       <p class="my-4"> {{ janela.ID }} </p>
    </div>

    <div class="col-sm-2">
      <p class="my-4"> Status: </h5>
    </div>

    <div class="col-sm-4">
       <p class="my-4">
       	 {{ janela.status }}</p>
    </div>

    <div class="col-sm-2">
      <p class="my-4"> Data: </h5>
    </div>

    <div class="col-sm-4">
       <p class="my-4"> {{ janela.Data }} </p>
    </div>
    <div class="col-sm-2">
      <p class="my-4"> Hora: </h5>
    </div>

    <div class="col-sm-4">
       <p class="my-4"> {{ janela.Hora }} </p>
    </div>
  </div>
 
 <br><br>
 <div class="row">

    <div class="col-sm-2">
      <p class="my-4">Ambiente: </h5>
    </div>

    <div class="col-sm-4">
      <p class="my-4"> <kbd>  {{ luminosidade.Ambiente }} </kbd> </p>
    </div>
    
    <div class="col-sm-2">
      <p class="my-4">IoT: </h5>
    </div>

    <div class="col-sm-4">
       <p class="my-4"> {{ luminosidade.IoT }} </p>
    </div>
    <div class="col-sm-2">
       <p class="my-4"> ID: </h5>
    </div>

    <div class="col-sm-4">
       <p class="my-4"> {{ luminosidade.ID }} </p>
    </div>

    <div class="col-sm-2">
      <p class="my-4"> Status: </h5>
    </div>

    <div class="col-sm-4">
       <p class="my-4">
         {{ luminosidade.status }}</p>
    </div>

    <div class="col-sm-2">
      <p class="my-4"> Data: </h5>
    </div>

    <div class="col-sm-4">
       <p class="my-4"> {{ luminosidade.Data }} </p>
    </div>
    <div class="col-sm-2">
      <p class="my-4"> Hora: </h5>
    </div>

    <div class="col-sm-4">
       <p class="my-4"> {{ luminosidade.Hora }} </p>
    </div>
  </div>
   
 <br><br>
 <div class="row">

    <div class="col-sm-2">
      <p class="my-4"> Ambiente: </h5>
    </div>

    <div class="col-sm-4">
      <p class="my-4"> <kbd>  {{ door.Ambiente }} </kbd> </p>
    </div>
    
    <div class="col-sm-2">
      <p class="my-4"> IoT: </h5>
    </div>

    <div class="col-sm-4">
       <p class="my-4"> {{ door.IoT }} </p>
    </div>
    <div class="col-sm-2">
       <p class="my-4"> ID: </h5>
    </div>

    <div class="col-sm-4">
       <p class="my-4"> {{ door.ID }} </p>
    </div>

    <div class="col-sm-2">
      <p class="my-4"> Status: </h5>
    </div>

    <div class="col-sm-4">
         {% if door.status == 1 %}
           <p class="my-4">Ocupada</p>
         {% else %}  
           <p class="my-4">vaga</p>
         {% endif %}

    </div>

    <div class="col-sm-2">
      <p class="my-4"> Data: </h5>
    </div>

    <div class="col-sm-4">
       <p class="my-4"> {{ door.Data }} </p>
    </div>
    <div class="col-sm-2">
      <p class="my-4"> Hora: </h5>
    </div>

    <div class="col-sm-4">
       <p class="my-4"> {{ door.Hora }} </p>
    </div>
  </div>
 
  </div>
 </div>
 </div>




  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>

  

</body>

</html>
