<!DOCTYPE html>
<html lang="pt-br" >

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>DashBoard</title>
  
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

      <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600,700'>
      <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
      
       
</head>

<body>

<script type="text/javascript">
  setTimeout(function(){
    location = ''
  },8000)
</script>

<center>
<div class="jumbotron jumbotron-fluid">  
  <p class="lead"> 
   
    <a class="btn btn-primary btn-lg" href="http://192.168.100.3:8080" role="button">Home</a>
    <a class="btn btn-success btn-lg" href="http://192.168.100.3:8888/stream.html" role="button">Stream</a>
    <a class="btn btn-warning btn-lg" href="/graph.html" role="button">Graph</a>
    <a  class="btn btn-danger btn-lg" href="system.html" role="button">System</a>
<p>
  <center> <div class="container">
        <h1 class="display-4">Monitor IoT</h1>
        <p class="lead">Status Sensores.</p>
    </div> </center>
    
</div>



<div class="container">
  
  <div class="row">

    <div class="col-sm-2">
      <p class="my-2">Ambiente: <kbd> {{ janela.Ambiente }}</kbd> </p>
    </div>
    
    <div class="col-sm-2">
      <p class="my-2"> IoT: {{ janela.IoT }} </p>
    </div>

  
    <div class="col-sm-2">
       <p class="my-2"> ID: {{ janela.ID }} </p>
    </div>

    <div class="col-sm-2">
      <p class="my-2"> Status: {{ janela.status }}</p>
    </div>

  
    <div class="col-sm-2">
      <p class="my-2"> Data: {{ janela.Data }} </p>
    </div>

 
    <div class="col-sm-2">
      <p class="my-2"> Hora:   {{ janela.Hora }}  </p>
    </div>

  </div>
 
 <div class="row">

    <div class="col-sm-2">
      <p class="my-2">Ambiente: <kbd>  {{ luminosidade.Ambiente }} </kbd> </p>
    </div>
    
    <div class="col-sm-2">
      <p class="my-2">IoT: {{ luminosidade.IoT }}  </p>
    </div>

    <div class="col-sm-2">
       <p class="my-2"> ID: {{ luminosidade.ID }} </p>
    </div>



    <div class="col-sm-2">
      <p class="my-2"> Status:  {{ luminosidade.status }}</p>
    </div>


    <div class="col-sm-2">
      <p class="my-2"> Data: {{ luminosidade.Data }} </p>
    </div>

    <div class="col-sm-2">
      <p class="my-2"> Hora:{{ luminosidade.Hora }}   </p>
    </div>


  </div>
   
 <div class="row">

    <div class="col-sm-2">
      <p class="my-2"> Ambiente: <kbd>  {{ door.Ambiente }} </p>
    </div>

    <div class="col-sm-2">
      <p class="my-2"> IoT: {{ door.IoT }} </p>
    </div>


    <div class="col-sm-2">
       <p class="my-2"> ID: {{ door.ID }}  </p>
    </div>

    <div class="col-sm-2">
      <p class="my-2"> Status:
             {% if door.status == 1 %}
                   Ocupada
             {% else %}  
                   vago
             {% endif %} </p>
    </div>

    <div class="col-sm-2">
      <p class="my-2"> Data: {{ door.Data }} </p>
    </div>

    <div class="col-sm-2">
      <p class="my-2"> Hora: {{ door.Hora }} </p>
    </div>

  </div>
 
  </div>
 </div>
 </div>




  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>

  

</body>

</html>
